
body{
    background: rgb(241, 245, 237);
}
.first{
    color: rgb(58, 33, 33);
    margin-left: 80px;
}
.second{
    color: rgb(66, 60, 52);
    display:flex;
    justify-content: center;
    align-items: center;
}
.third{
    color: rgb(61, 53, 53);
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 90px;
}
table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }
  
  td {
    padding: 10px 0;
  }
hr{
    width: 80%;
    color: rgb(36, 30, 30);
}
u{
    text-decoration: underline rgb(161, 157, 157);

}
.same{
    display:flex;  
    margin-left: 100px;
}
